# macOS
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Coverage directory generated when running tests with coverage
coverage

# Dependencies
node_modules/

# dotenv environment variables file
.direnv/
.envrc
.env
.env.test

# Build output
dist/
dist-types/

# Temporary change files created by Vim
*.swp
